<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sadie Marie Admin needs photo access so you can replace images on your website.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BodoniModa-Regular.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
	</array>
</dict>
</plist>
